In [1]:
print("hello world")

hello world

## Data types 
print("hello world")

In [2]:
# this line is a comment, string is either double or single quotes

test = "hello"

In [3]:
print(test)

hello

In [4]:
type(test)

str

In [6]:
# numeric types come in 2 forms integers & floats
# integer
number = 10

#float
floaty = 5.4

number + floaty

15.4

In [7]:
test + number

TypeError: can only concatenate str (not "int") to str

In [8]:
test + test

'hellohello'

### Operators

## Python Collections

In [3]:
# list
my_list = [1,'2',3.2]

In [10]:
print(my_list)

[1, '2', 3.2]

In [11]:
type(my_list)

list

In [5]:
print(my_list[0])

1

In [4]:
print(my_list)

[1, '2', 3.2]

In [7]:
print(my_list[-1])

print(my_list[1:])

3.2
['2', 3.2]

In [13]:
# dictionaries

my_dict = {'one':1, 'two': 2, 'three':3}
print(my_dict)
print(my_dict[0])
print(my_dict['one'])

{'one': 1, 'two': 2, 'three': 3}

KeyError: 0

In [15]:
print(my_dict['one'])

print(my_dict['two'])

1
2